{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Về chúng tôi...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">4TOWER BOOKSTORE</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
Chào mừng bạn đến với 4TOWER BOOKSTORE, một nơi không chỉ là cửa hàng sách mà còn là một ngôi nhà chung của những tâm hồn yêu sách, được sáng lập bởi bốn người bạn thân thiết từ thời đại học. Bắt nguồn từ niềm đam mê vô tận với tri thức và văn hóa đọc, chúng tôi đã cùng nhau xây dựng nên một không gian ấm cúng, nơi mọi người có thể tìm thấy sự bình yên và cảm hứng giữa những trang sách. 4TOWER BOOKSTORE không chỉ là một điểm đến để mua sách mà còn là một nơi để kết nối, chia sẻ và trải nghiệm những câu chuyện và kiến thức từ khắp nơi trên thế giới.
<br/><br/>
Tại 4TOWER BOOKSTORE, chúng tôi tự hào sở hữu một bộ sưu tập sách phong phú và đa dạng, từ những tác phẩm văn học kinh điển, sách khoa học, lịch sử đến những cuốn sách về kinh doanh và phát triển bản thân. Chúng tôi hiểu rằng mỗi độc giả đều có một sở thích và nhu cầu riêng, vì vậy, chúng tôi luôn nỗ lực để cập nhật và mang đến những đầu sách mới nhất, cũng như những tác phẩm có giá trị lâu bền theo thời gian. Không gian của cửa hàng được thiết kế để bạn có thể tận hưởng một buổi chiều thư giãn với một cuốn sách hay, thưởng thức một tách cà phê thơm ngon và cảm nhận sự yên bình trong một góc nhỏ của thành phố.
<br/><br/>
Điều làm nên sự khác biệt của 4TOWER BOOKSTORE chính là tinh thần đoàn kết và sự gắn bó của bốn người sáng lập. Chúng tôi không chỉ là những người bạn mà còn là những người đồng hành cùng nhau trên con đường biến giấc mơ thành hiện thực. Mỗi cuốn sách tại cửa hàng đều được chọn lựa kỹ lưỡng với tình yêu và sự trân trọng dành cho tri thức. Chúng tôi tin rằng, tình yêu sách không chỉ đến từ những trang giấy mà còn từ sự kết nối giữa con người với con người, giữa độc giả với tác giả, và giữa chúng tôi với bạn. Hãy đến với 4TOWER BOOKSTORE, để cùng chúng tôi viết nên những câu chuyện mới, chia sẻ những trải nghiệm đáng nhớ và lan tỏa niềm đam mê đọc sách đến mọi người.
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}